html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* CAROUSEL */
.carousel {
  width: 100%;
  margin: 1rem auto;
}
.carousel__item {
  display: flex !important;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.carousel__item__img {
  margin: 0 1rem;
  height: 200px;
}
.carousel__title {
  display: flex;
  align-items: center;
}
.carousel__title__link {
  transform: translateY(-0.3rem);
}
.slick-slide img {
  display: block;
  margin: auto;
}
.slick-arrow {
  background-color: #eaeded !important;
  width: 2rem !important;
  height: 5rem !important;
  border-radius: 2px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}
.slick-arrow:hover {
  background: #f1c964 !important;
  transition: background 0.6s;
}
.slick-prev {
  z-index: 100;
  left: 20px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
}

.image-carousel {
  margin-top: 0px
}


/* HOME 
.home {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
}

.home-image {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0 ,0, 0.15));
  z-index: -1;
  margin-bottom: -200px;
}

.home-row{
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}   
*/

/* OTHER HOME */
.home {
  max-width: 1500px;
  margin: 0 auto;
}

.home__slider-container {
  width: 100%;
  margin: 0 auto;
  height: 40vh;
  position: relative;
  border-radius: 0.5rem;
  flex: 1
}

.home__slide {
  position: absolute;
  width: 100%;
  display: flex;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}

.home__image {
  display: flex;
  width: 100%;
  height: 600px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  z-index: -1;
  margin-bottom: -300px;
  transition: all 0 ease-in-out;
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}





/* PRODUCT HOME  
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 10px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}


.product-info{
  height: 100px;
  margin-bottom: 15px;
  width: 90%;
}

.product_price{
  color: rgb(221, 24, 24);
}

.product_price h2{
  font-weight: 500 !important;
}

.product > button{
  background: #f0c14b;
  border: 1px solid;
  padding: 3px 6px;
  margin-top: 0px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  margin-bottom: 8px;
  margin-top: 10px;
}

.product > button:hover{
  background: #ebb839;
}


.product > img{
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-top: 25px;
}


.product-title{
  font-weight: 500;
  margin-bottom: -10px;
}


.product-author{
  color: rgb(141, 140, 140);
  font-size: 13.5px;
}

.product-subtitle{
  color: rgb(68, 66, 66);
  font-size: 13px;
  width: 95%;
  margin-bottom: -11px;
}

.star-icon{
  color: rgb(250, 194, 10);
  font-size: 22px !important;
}


.product-business{
  margin-top: -47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
*/



/* OTHER PRODUCT */
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  z-index: 1;
  background-color: white;
}

.product__info {
  height: 100px;
}

.product__info > p {
  text-align: center;
}

.product__group {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.product__price {
  display: flex;
  margin-top: 3px;
  padding-right: 10px;
}

.product__rating {
  display: flex;
  color: #f0c14b;
}

.product > img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
  transition: all 0.5s;
}

.product > img:hover {
  transform: scale(1.05);
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  margin-top: 5px;
  padding: 5px 10px;
  width: 40%;
}


/* FOOTER */

.Footer {
  color: white;
  background-color: #232f3e;
  font-size: 13px;
  margin-top: 20px;
}

.Footer__Back-To-Top {
  background-color: #37475a !important;
  text-align: center;
  margin-bottom: 40px;
}

.Footer__Back-To-Top:focus,
.Footer__Back-To-Top:hover {
  background-color: #485769 !important;
  cursor: pointer;
}

.Footer__Back-To-Top-Text {
  color: white;
  display: block;
  padding: 10px 0;
  line-height: 19px;
  font-size: 40px !important;
}

.Footer__Back-To-Top-Text:hover {
  padding: 0;
  font-size: 60px !important;
}

.Footer__Vertical-Row {
  display: table;
  margin: 0 auto;
  padding-bottom: 40px;
}

.Footer__Vertical-Col {
  display: table-cell;
  padding: 0 60px;
  line-height: 19px;
}

.Footer__Vertical-Col-Head {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
}

.Footer__Vertical-Col > ul {
  margin: 0;
  padding: 0;
}

.Footer__Vertical-Col > ul > li {
  list-style-type: none;
}

.Footer__Line {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.Footer__Line-logo {
  width: 100px;
  object-fit: contain;
  margin: 18px 20px 0 20px;
}

.Footer__Line-message {
  align-items: center;
  display: flex;
  font-size: 120%;
}

.Footer__Line-message > a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
}