.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header_bottom_nav {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #37475A;
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;
  }

  .header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
  
  .header_nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  .header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }

  .header_link {
    display: flex;
    flex-direction: column;
    /*flex: 1;*/
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 12px;
  }
  
  .header_menu_all {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;
    color: white;
    font-size: 15px;
  }

  .header_link_menu_icon {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 8px;
    color: white;
    font-size: 12px;
  }

  .header_option_basket {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header_option_basket_count {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header_option_line_one {
    font-size: 10px;
  }
  
  .header_option_line_two {
    font-size: 13px;
    font-weight: 800;
  }
  
  .header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    height: 34px;
  }
  
  .header_search_icon {
    padding: 6px;
    height: 34px !important;
    background-color: #cd9042;
  }
  
  .header_search_input {
    height: 34px;
    padding: 10px;
    border: none;
    width: 100%;
  }

/* MENU BURGER */
#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
    text-align: center;
    overflow: auto;
    top: 45%;
    position: relative;
  }
  
  .bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color: white;
  }
  
  /* ICON */
  .bm-burger-button {
    position: fixed;
    width: 18px;
    height: 13px;
    /*width: 36px;
    height: 30px;
    right: 36px;*/
    left: 21px;
    top: 74px;
  }
  
  /* Icon Color/shape of burger icon bars */
  .bm-burger-bars {
    /*background: #373a47;*/
    background: white;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #000;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
   fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }